<form>
	<label for="description">Описание задачи</label>
	<textarea id="description" class="form-control" rows="3" ng-model="$ctrl.task.description"></textarea>
	<div class="col-xs-6">
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="$ctrl.task.importance"/> Важное
			</label>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="$ctrl.task.urgency"/> Срочное
			</label>
		</div>
	</div>
	<div class="clearfix"></div>
</form>
